on boot
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1017600
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 122000
    setprop recovery.perf.mode 0

on property:recovery.perf.mode=0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "ondemand"

on property:recovery.perf.mode=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "performance"
