on early-boot
    # Start touch firmware loader
    exec /system/bin/clearpad_fwloader

on boot
    # AS3676/cameralight
    chown system camera /sys/class/leds/torch-rgb1/brightness
    chmod 660 /sys/class/leds/torch-rgb1/brightness
    chown system camera /sys/class/leds/torch-rgb2/brightness
    chmod 660 /sys/class/leds/torch-rgb2/brightness
